body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-rows: 5vh 60vh;    
}

.h-navbar {
    float:right;
    padding: 0px 30px;
    margin:20px;
}

.h-navbar a, img, #account{
    top:0;
    left: 0;
    right:0;
    padding: 0 0 0 10px;
    font-size: 13px;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    display: inline-block;
    line-height: 24px;
    outline: none;
    vertical-align: middle;
}

.h-navbar #account{
    width:33px;
    height: 32px;
}


.main {
    display: grid;
    justify-items: center;
}

form {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.m-logo{
    width:100%;
    margin:0px;
    text-align: center;
    display: inline-block;
    padding-top:150px;    
}

.m-searchbar{
    
    width: 440px;
    height: 42px;
    margin-top: 20px;
    border: 1px solid #dddddd;
    border-radius: 21px;
    display: grid;
    grid-template-columns: 10% auto 10%;
    align-items: center;    
}

.m-searchbar:hover {
    box-shadow: 0px 1px 5px rgb(0, 0, 0, .15);
}

.glass {
    height: 22px;
    opacity: 75%;
    position:relative;
    top: 3px;
}

.mic{
    height:20px;
    position:relative;  
}

input[type=text] {
    font-size: 16px;
    border: none;
    outline: none;
}

.m-buttons {
    margin-left: 20%;
    margin-top: 30px;
  }
  
  .m-buttons input {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368; 
    font-family: Arial, sans-serif; 
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px; 
    height: 36px;
    min-width: 54px;
    text-align: center;    
  }

  .m-buttons input:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
  }

  .m-language {
    position: absolute;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    gap: 10px;
  }

  .footer {
    bottom: 0; 
    display: flex;
    flex-direction: column;
    height: auto;
    position: absolute;
    width: 100%;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    min-width: 450px;
    color: rgba(0,0,0,.54);    
  }

  .f-location {
    padding-left: 40px;
    color: #5F6368; 
    font-size: 15px; 
    line-height: 10px;
  }

  .f-links {
    display: flex;
    border-top: 1px solid #e4e4e4;
    line-height: 12px;
  }

  .f-l-left {
    float: left;
    font-size: 14px;
    color: #5f6368;
    text-align: left;
    text-decoration: none;       
  }

  .f-l-right {
    padding-right: 30px;
    margin-left: auto;
    font-size: 14px;
    color: #5f6368;
    text-align: left;
    text-decoration: none;    
  }

  header a:link,
  header a:visited,
  header a:active {
      text-decoration: none;
      display: inline-block;
      color: rgba(0,0,0,1);
      opacity: 1;
  }
  header a:hover {
      text-decoration: underline;
      color: rgba(0,0,0,0.87);
  }
  
  main a:link,
  main a:visited,
  main a:active {
      text-decoration: none;
      display: inline-block;
      color: rgba(0,0,0,1);
      opacity: 1;
  }
  main a:hover {
      text-decoration: underline;
      color: rgba(0,0,0,0.87);
  }

  footer a:link,
  footer a:visited,
  footer a:active {
    font-size: 14px;
    color: #5f6368;
    text-align: left;
    text-decoration: none;
    padding: 0 20px 0 0;  
  }
  footer a:hover {
      text-decoration: underline;      
  }
